{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information"
    }
  },

  "ConnectionStrings": {
    "DefaultConnection": "<set-via-user-secrets-or-env>"
  },

  "JwtSettings": {
    "SecretKey": "<set-via-user-secrets-or-env>",
    "Issuer": "TimeTrackerAPI",
    "Audience": "TimeTrackerClient"
  }
}
